<div class="main_container">
    <h1 data-aos="fade-up" data-aos-duration="500" data-aos-delay="200" data-aos-easing="ease-in-out">MORE ABOUT ME</h1>
    <p data-aos="fade-up" data-aos-duration="500" data-aos-delay="200" data-aos-easing="ease-in-out">
        Hello! I'm a passionate and motivated Full Stack Web Developer with a strong foundation in both frontend and backend technologies. I specialize in creating dynamic and responsive web applications using Angular for the frontend and the .NET framework for the backend.
        I am eager to bring my expertise and enthusiasm to new and exciting opportunities. Whether it's building scalable web applications, optimizing user experiences, or solving challenging technical problems, I am ready to contribute and grow in a dynamic and collaborative environment.
    </p>
</div>