<div class="main_content">
  <h1 data-aos="fade-up" data-aos-duration="500" data-aos-delay="200" data-aos-easing="ease-in-out">checkout my certificates</h1>
  <p data-aos="fade-up" data-aos-duration="500" data-aos-delay="200" data-aos-easing="ease-in-out">I hold two certificates from Harvard University, CS50x and CS50w, which have equipped me with the essential skills, basic understanding of computer science and knowledge to tackle complex web development projects. My journey in web development has been driven by a continuous desire to learn and innovate, ensuring that I stay updated with the latest industry trends and best practices.</p>
  <div class="img_container" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200" data-aos-easing="ease-in-out">
      <div class="cs50x">
          <a href="https://certificates.cs50.io/4720c294-ef3f-47a8-b33f-69b8f57e746f.pdf?size=letter" target="_blank">
              <img src="../../assets/CS50x.png" alt="" width="500px" height="350px">
          </a>
          
      </div>
      <div class="cs50w">
          <a href="https://certificates.cs50.io/935e4789-4d2b-430c-bd1b-f183b1e20b47.pdf?size=letter" target="_blank">
          <img src="../../assets/CS50W.png" alt="" width="500px" height="500px">
          </a>
      </div>
  </div>
</div>