<div class="home_container">
    <div class="main_block">
        <div class="title" >
            <p  data-aos="fade-up" data-aos-duration="750" data-aos-delay="200" data-aos-easing="ease-in-out">WELCOME TO MY PORTFOLIO</p>
        </div>
        <div class="content_block">
            <div class="content" style="width: 90%;">
                <h1  data-aos="fade-up" data-aos-duration="800" data-aos-delay="200" data-aos-easing="ease-in-out">
                    I'm a Harvard-certified Full Stack Developer with Angular and .NET expertise, ready to innovate and excel.
                </h1>
            </div>
        </div>
        <div class="button_container"  data-aos="fade-up" data-aos-duration="950" data-aos-delay="200" data-aos-easing="ease-in-out">
            <button>
                <p (click)="scrollToContact()">START A PROJECT</p>
            </button>
            <button>
                <p (click)="scrollToAbout()">MORE ABOUT ME</p>
            </button>
        </div>
    </div>
    <div class="contacts"  data-aos="fade-up" data-aos-duration="800" data-aos-delay="200" data-aos-easing="ease-in-out">
        <i class="fa fa-github" style="font-size: 45px;" onclick="window.open('https://github.com/Sh0utaa')></i>
        <i class="fa fa-linkedin-square" style="font-size: 40px;" onclick="window.open('https://www.linkedin.com/in/shota-tevdorashvili-30b78b263/')"></i>
        <i (click)="scrollToContact()" class="fa fa-envelope" style="font-size: 35px;"></i>
    </div>
</div>
